.cke_source  {
    padding: 20px!important;
    box-sizing: border-box!important;
    font-family: Tahoma, sans-serif, Arial, Verdana, "Trebuchet MS"!important;
    font-size: 13px!important;
    line-height: 1.6!important;
}